<!doctype HTML>

<html>

    <!-- Head stuff -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>

        <!-- jQuery -->
        <script type="text/javascript"
            src="./static/external/jquery.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="./static/external/bootstrap.css">
        <script type="text/javascript"
            src="./static/external/bootstrap.js"></script>
        <!-- Handlebars -->
        <script type="text/javascript"
            src="./static/external/handlebars.js"></script>
        <!-- NProgress -->
        <script type="text/javascript"
            src="./static/external/nprogress.js"></script>
        <link rel="stylesheet" href="./static/external/nprogress.css">
    </head>

    <!-- Body -->
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Template</a>

                <!-- the list of links -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Some link</a></li>
                </ul>

            </div>
        </div>
        </nav> <!-- navbar -->

        <Activity controller="MainActivity" path="index">
            <div class="container">
                <Activity path="click" controller="ClickMeActivity">
                    <button class="btn btn-default">Load</button>
                    <Activity path="finish" controller="FinishMeActivity">
                        <button class="btn btn-default">Finish</button>
                    </Activity>
                </Activity>
            </div>
        </Activity>


        <script type="text/javascript" src="./static/js/Assert.js"></script>
        <script type="text/javascript" src="./static/js/DomHelper.js"></script>
        <script type="text/javascript" src="./static/js/Bootloader.js"></script>
        <script type="text/javascript" src="./static/js/config.js"></script>
        <script type="text/javascript" src="./static/js/Router.js"></script>
        <script type="text/javascript" src="./static/js/Activity.js"></script>
        <script type="text/javascript"
            src="./static/js/JmvcActivity.js"></script>
        <script type="text/javascript"
            src="./static/js/AjaxRequester.js"></script>
        <script type="text/javascript"
            src="./static/js/MainActivity.js"></script>
        <script type="text/javascript"
            src="./static/js/ClickMeActivity.js"></script>
        <script type="text/javascript"
            src="./static/js/FinishMeActivity.js"></script>
    </body>

</html>

